<!-- history.html -->
{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
                <th>Date</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in history %}
            <tr>
                <td>{{ transaction.symbol }}</td>
                <td>{{ transaction.shares }}</td>
                <td>${{ transaction.price }}</td>
                <td>${{ transaction.total_price }}</td>
                <td>{{ transaction.datetime }}</td>
                <td>{{ transaction.sold_bought }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
